{% extends 'listings/base.html' %}

{% load static %}

{% block content %}
<br>
<img src="{% static 'listings/images/NUB-logo2.png' %}" alt="N.U.B Logo" class="centered-image">

<br><br>
<p class="introduction-text">
    N.U.B is a website that lists rock, metal, alternative, and other violent genre-based groups from the North of France.<br>
    The goal is to share the bands and their merchandise.<br>
    <br>
    This site is not intended to generate financial profits and has been created voluntarily with the sole purpose of promoting underground culture
    in the Hauts-de-France region. The aim is to facilitate communication between artists, fans, bookers, and other stakeholders in the local scene,
    as well as to connect with underground scenes in other regions of France and the world.<br>
    <br>
    This site is in beta testing, feel free to share your feedback and suggestions to improve the user experience.<br>
</p>
<br><br>
<hr style="border: none; height: 2px; background: linear-gradient(to right, black, red, black);">
<br><br>
<p style="text-align: center;">2024 N.U.B • North Underground Bands (Clément DEFER) • All rights reserved.</p>
<br>
</div>
{% endblock %}