{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="North Underground Bands - Discover and connect with underground bands from the north of France.">
    <meta name="keywords" content="underground bands north of france, music, events, merch, contact, ads">
    <title>N.U.B - North Underground Bands</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="{% static 'listings/script.js' %}" defer></script>
</head>
<body>
    <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a href="{% url 'home' %}" class="logo">N.U.B</a>
        <ul class="nav-links">
            <i class="uil uil-times navCloseBtn"></i>
            <li><a href="{% url 'bands_list' %}">Bands</a></li>
            <li><a href="{% url 'listing_list' %}">Merch</a></li>
            <li><a href="{% url 'event_list' %}">Events</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="uil uil-search search-icon" id="searchIcon"></i>
        <div class="search-box">
            <form action="{% url 'search' %}" method="get" class="search-form">
                <i class="uil uil-search search-icon"></i>
                <input type="text" name="q" placeholder="Search here..." class="search-input" />
            </form>
        </div>
    </nav>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>
        {% block content %}{% endblock %}
        <br><br><br><br>
    </div>
    <footer class="footer-nav">
        <div class="footer-nav-icon">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'listings/images/home.svg' %}" alt="Home">
            </a>
        </div>
        <div class="footer-nav-icon">
            <img src="{% static 'listings/images/add7.svg' %}" alt="Add" id="addIcon">
        </div>
        {% if user.is_authenticated %}
        <div class="footer-nav-icon" data-user-id="{{ user.id }}">
            <a href="{% url 'message_list' %}">
                <img src="{% static 'listings/images/mail.svg' %}" alt="Mail" id="mailIcon">
            </a>
        </div>
        {% else %}
        <div class="footer-nav-icon">
            <a href="{% url 'login' %}">
                <img src="{% static 'listings/images/mail.svg' %}" alt="Mail" id="mailIcon">
            </a>
        </div>
        {% endif %}
        <div class="footer-nav-icon">
            {% if user.is_authenticated %}
            <a href="{% url 'account' user.username %}">
                <img src="{% static 'listings/images/user-on2.svg' %}" alt="User On">
            </a>
            {% else %}
            <a href="{% url 'login' %}">
                <img src="{% static 'listings/images/user-off.svg' %}" alt="User Off">
            </a>
            {% endif %}
        </div>
    </footer>
    
    <!-- Pop-up window -->
    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <a href="{% url 'band-create' %}"><button><img src="{% static 'listings/images/add.svg' %}" alt="Add">Add a new BAND</button></a>
            <a href="{% url 'listing_create' %}"><button><img src="{% static 'listings/images/add.svg' %}" alt="Add">Add a new ITEM</button></a>
            <a href="{% url 'event_create' %}"><button><img src="{% static 'listings/images/add.svg' %}" alt="Add">Add a new EVENT</button></a>
            <a href="{% url 'ad_create' %}"><button><img src="{% static 'listings/images/add.svg' %}" alt="Add">Add a new AD</button></a>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mailIcon = document.getElementById('mailIcon');
            const userId = mailIcon.parentElement.getAttribute('data-user-id');

            if (userId) {
                fetch(`/check_unread_messages/${userId}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.has_unread_messages) {
                            mailIcon.src = "{% static 'listings/images/new-mail.svg' %}";
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    </script>
</body>
</html>