{% extends 'listings/base.html' %}

{% block content %}

<div class="page-name">Events</div>

<h2 class="bandname" id="upcoming">Upcoming Events</h2>
<hr style="border: none; height: 2px; background: linear-gradient(to right, black, red, black);">
<br>
<div class="event-container">
    {% for event in upcoming_events %}
        <div class="event-border">
            <strong><span class="event-date">{{ event.date|date:"d F Y" }}</span> • <em>{{ event.band.name }}</em></strong>
            <br>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
            <br>
            {{ event.description }}
            <br>
            <br>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
            <br>
            {{ event.venue }} • {{ event.price }}€
            <br><br>
            <div class="event-link-container">
                {% if event.event_link %}
                    <a href="{{ event.event_link }}" target="_blank">Event Link</a>
                {% else %}
                    <a href="#" style="color: grey !important">No event link yet</a>
                {% endif %}
            </div>
            {% if event.user == request.user %}
                <div style="color: grey; font-size: 0.8em;">
                    <a href="{% url 'event-update' event.id %}" style="color: rgb(171, 171, 171) !important;">Update</a> | 
                    <a href="{% url 'event-delete' event.id %}" style="color: rgb(171, 171, 171) !important;">Delete</a>
                </div>
            {% else %}
                <div style="color: grey; font-size: 0.8em;">Created by {{ event.user.username }}</div>
            {% endif %}
        </div>
    {% empty %}
        <li>No upcoming events.</li>
    {% endfor %}
</div>
<br>
<br>
<h2 class="bandname" id="past">Past Events</h2>
<hr style="border: none; height: 2px; background: linear-gradient(to right, black, red, black);">
<br>
<div class="event-container">
    {% for event in past_events %}
        <div class="event-border">
            <strong><span class="event-date">{{ event.date|date:"d F Y" }}</span> • <em>{{ event.band.name }}</em></strong>
            <br>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
            <br>
            {{ event.description }}
            <br>
            <br>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
            <br>
            {{ event.venue }} • {{ event.price }}€
            <br><br>
            <div class="event-link-container">
                {% if event.event_link %}
                    <a href="{{ event.event_link }}" target="_blank">Event Link</a>
                {% else %}
                    <a href="#" style="color: grey !important">No event link yet</a>
                {% endif %}
            </div>
            {% if event.user == request.user %}
                <div style="color: grey; font-size: 0.8em;">
                    <a href="{% url 'event-update' event.id %}" style="color: rgb(171, 171, 171) !important;">Update</a> | 
                    <a href="{% url 'event-delete' event.id %}" style="color: rgb(171, 171, 171) !important;">Delete</a>
                </div>
            {% else %}
                <div style="color: grey; font-size: 0.8em;">Created by {{ event.user.username }}</div>
            {% endif %}
        </div>
    {% empty %}
        <li>No past events.</li>
    {% endfor %}
</div>

{% endblock %}