{% extends 'listings/base.html' %}

{% block content %}
{% load static %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="gif-container">
    <img src="{% static 'listings/images/To N.U.B.gif' %}" alt="Like and Share your local bands N.U.B" class="responsive-gif">
</div>

<div class="Welcome">
    <div style="font-size: 0.7em; color: gray;">North Underground Bands's Social networks</div>
    {% if user.is_authenticated %}
        You are logged in as <b>{{ user.username }}</b>.<br>
    {% else %}
        Please <b><a href="{% url 'signup' %}">create an account</a></b> or <b><a href="{% url 'login' %}">log in</a></b> to access the full features of the site.
    {% endif %}
</div>
<br>
<hr style="border: none; height: 2px; background: linear-gradient(to right, #4b4b4b, #4b4b4b, #4b4b4b);">
<br>

<div class="home">Classified Ads</div>
<hr style="border: none; height: 2px; background: linear-gradient(to right, black, red, black);">
<br>
<div class="event-container">
    {% for ad in ads %}
        <div class="event-border">
            <div class="ad-header">
                <strong class="event-date">{{ ad.user.username }}</strong>
                <span class="event-date" style="color: white; font-size: 0.8em;">{{ ad.created_at|date:"d F Y" }}</span>
            </div>
            <hr><br>
            <div class="ad-title">
                {{ ad.title }} ({{ ad.get_category_display }})
            </div>
            <br>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
            <br>
            <div class="ad-description">
                {{ ad.description }}
            </div>
            <br>
            <div class="event-link-container">
                <a href="{% url 'send_message_to_user' ad.user.username %}?subject={{ ad.title }}">Reply</a>
            </div>
            {% if ad.user == request.user %}
                <div style="color: grey; font-size: 0.8em;">
                    <a href="{% url 'ad_update' ad.id %}" style="color: rgb(171, 171, 171) !important;">Update</a> | 
                    <a href="{% url 'ad_delete' ad.id %}" style="color: rgb(171, 171, 171) !important;">Delete</a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <li>No ads available at the moment.</li>
    {% endfor %}
</div>
<br>
<br>
{% endblock %}