{% extends 'listings/base.html' %}
{% load static %}
{% block content %}

<div class="profile-photo-container">
    {% if user.profile_photo %}
        <img src="{{ user.profile_photo.url }}" alt="Profile Photo" class="profile-photo">
    {% else %}
        <img src="{% static 'listings/images/NO-PROFIL.png' %}" alt="Default Profile Photo" class="profile-photo">
    {% endif %}
</div>

<div class="title">Welcome, {{ user.username }}!</div>
<div class="button-container">
<div style="color: grey !important; font-size: 0.8em;"><a href="{% url 'edit_account' username=user.username %}">Edit</a> | 
<a href="{% url 'logout' %}">Logout</a> | 
<a href="{% url 'delete_account' username=user.username %}">Delete Account</a></div>
</div>
<br>
<div class="introduction-text">
    <div style="color: rgb(180, 180, 180) !important; font-size: 0.8em; text-align: center;">Email:</div>
    <p>{{ user.email }}</p>
</div>
<br>
<div class="introduction-text">
    <div style="color: rgb(180, 180, 180) !important; font-size: 0.8em; text-align: center;">First Name:</div>
    <p>{{ user.first_name }}</p>
</div>
<br>
<div class="introduction-text">
    <div style="color: rgb(180, 180, 180) !important; font-size: 0.8em; text-align: center;">Last Name:</div>
    <p>{{ user.last_name }}</p>
</div>
<br>
<div class="introduction-text">
    <div style="color: rgb(180, 180, 180) !important; font-size: 0.8em; text-align: center;">Created:</div>
    <p>{{ user.date_joined }}</p>
</div>
<br>
<div class="introduction-text">
    <div style="color: rgb(180, 180, 180) !important; font-size: 0.8em; text-align: center;">Last connection:</div>
    <p>{{ user.last_login }}</p>
</div>
<br>
<hr style="border: none; height: 2px; background: linear-gradient(to right, black, red, black);">
<br>

<div class="title">Your items</div>
<br>

<div class="container">
    <div class="column-container">
        <div class="column">
            <h3 style="text-align: center;">Bands</h3>
            <ul>
                {% for band in bands %}
                    <li>
                        <div class="introduction-text">
                            {{ band.name }}
        <br>
        <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
                            <div style="color: grey; font-size: 0.8em;"><a href="{% url 'band-update' band.id %}">Update</a> | <a href="{% url 'band-delete' band.id %}">Delete</a></div>
                        </div>
                    </li>
                    {% empty %}
                    <li style="text-align: center; font-style: italic; font-size: 0.9em; color: gray;">No band created.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="separator"></div>
        <div class="column">
            <h3 style="text-align: center;">Merch</h3>
            <ul>
                {% for listing in listings %}
                    <li>
                        <div class="introduction-text">
                            {{ listing.band.name }} - "{{ listing.description }}"
                            <br>
        <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
                            <div style="color: grey; font-size: 0.8em;"><a href="{% url 'listing-update' listing.id %}">Update</a> | <a href="{% url 'listing-delete' listing.id %}">Delete</a></div>
                        </div>
                    </li>
                {% empty %}
                    <li style="text-align: center; font-style: italic; font-size: 0.9em; color: gray;">No merch created.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="separator"></div>
        <div class="column">
            <h3 style="text-align: center;">Events</h3>
            <ul>
                {% for event in events %}
                    <li>
                        <div class="introduction-text">
                            {{ event.band.name }}  ({{ event.date|date:"d F Y" }}, {{ event.venue }})
                            <br>
        <hr style="border: none; height: 2px; background: linear-gradient(to right, #141414, grey, #141414);">
                            <div style="color: grey; font-size: 0.8em;"><a href="{% url 'event-update' event.id %}">Update</a> | <a href="{% url 'event-delete' event.id %}">Delete</a></div>
                        </div>
                    </li>
                {% empty %}
                    <li style="text-align: center; font-style: italic; font-size: 0.9em; color: gray;">No event created.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}