{% extends 'listings/base.html' %}

{% block content %}
<div class="form-container">
    <div class="title">• Log In •</div><br>
    <p class="introduction-text">Please login to access to the contents</p>
    <br>
    {% if not user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="default-button">Login</button>
    </form>
    <br>
    <p class="invitation-text">Don't have an account yet?</p>
    <br>
    <a href="{% url 'signup' %}" class="sign-up-button">Sign up!</a>
    {% endif %}
    {% if user.is_authenticated %}
    <br>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    {% endif %}
    <br>
</div>
{% endblock content %}